<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit" method="POST">
        <% if (locals.title) { %>
        <input type="text" name="blog" value="<%= blog %>" placeholder="Enter Title" />
        <% } else { %>
            <input type="text" name="blog" placeholder="Enter Title" />
            <% } %>
        <input type="text" name="description" placeholder="Description..." />
        <input type="submit" value="Create" />
      </form>
</body>
</html>